<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="473" height="316">
<p>Photo by Garrett Sears on Unsplash</p>

<div class="pt-3">
  <p>Cette application est construite avec la puissante pile technologique MEAN :</p>
  <p>- **MongoDB :** Notre base de données NoSQL pour stocker efficacement les données de stock.</p>
  <p>- **Express.js :** Notre framework côté serveur pour construire une API RESTful sécurisée.</p>
  <p>- **Angular :** Notre framework front-end pour une interface utilisateur interactive et réactive.</p>
  <p>- **Node.js :** Notre environnement d'exécution côté serveur pour JavaScript.</p>
</div>
